<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" i18n="@@Licence">Licence</h5>
    <button type="button" class="close" aria-label="Close" (click)="this.close(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body preview-body-size">
    <h5 i18n="resourceContrainte">Contraintes pour la ressource</h5>
    <ng-container *ngFor="let useLimitation of this.download.resourceConstraints.useLimitation">
      <div>{{useLimitation}}</div><br>
    </ng-container>
    <h5 i18n="resourceContrainte">Contraintes d'accès et d'utilisation</h5>
    <ng-container *ngIf="this.download.resourceConstraints.otherConstraints">
      <div>{{this.download.resourceConstraints.otherConstraints}}</div>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" i18n="@@close" (click)="this.close(modal)">fermer</button>
  </div>
</ng-template>

<button class="btnCGU" role="button" (click)="this.open(content)" *ngIf="download?.resourceConstraints?.otherConstraints ||
                                                                         download?.resourceConstraints?.useLimitation?.length">
  <i class="fas fa-chevron-right fa-xs me-1"></i>
  Licence
</button>

