<main *ngIf="this.download">
  <div class="download-container section section-lg">
    <div class="container-fluid title-header bg-header">
      <div class="container alk-container">
        <div class="mb-5">
          <h1 class="subtitle">Téléchargement de la donnée {{ download.spatialRepresentationType }} : </h1>
          <h1>{{ download.metadataTitle }}</h1>
        </div>
      </div>
    </div>
    <div class="container alk-container mt-lg-n4">
      <form #form="ngForm" class="mt-4" >
        <div class="row pt-5 pt-md-0">
          <div class="col-12 col-lg-7">
            <div class="card bg-white border-light p-0 p-md-4 mb-4">
              <div class="card-header">
                <h2>
                  <div class="icon icon-shape icon-md icon-shape-primary rounded-circle mr-3 mb-4 mb-md-0 me-2"><i class="fas fa-cog"></i></div>
                  Paramètres de téléchargement
                </h2>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12 col-lg-8">
                    <div class="form-group mb-4">
                      <label class="mb-2">Format des données</label>
                      <select [ngClass]="form.submitted && !format ? 'border-red' : ''"
                              name="format" required class="form-control" aria-label="Format"
                              [(ngModel)]="format">
                        <ng-container *ngFor="let format of this.formats">
                          <option [value]="format.code">{{format.name}}</option>
                        </ng-container>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-8" *ngIf="layerType.id !== 3">
                    <div class="form-group mb-4">
                      <label class="mb-2">Projection des données</label>
                      <select [(ngModel)]="projection"
                              [ngClass]="form.submitted && !projection ? 'border-red' :
                              ''" name="srs" required class="form-control" aria-label="Projection">

                        <ng-container *ngFor="let projection of this.projections">
                          <option [value]="projection.epsg">{{projection.name}} [EPSG:{{projection.epsg}}]</option>
                        </ng-container>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12" *ngIf="layerType.id !== 3">
                    <div class="form-group form-check mb-4">
                      <input name="partialExtract" class="form-check-input" type="checkbox" value="" id="partialExtract" [(ngModel)]="partialExtract">
                      <label for="partialExtract" class="form-check-label">
                        Extraire une partie des données sur un territoire
                      </label>
                    </div>
                  </div>
                  <ng-container *ngIf="partialExtract">
                    <div class="col-md-4 mb-3">
                      <label class="mb-2">Tolérance d’extraction <a href="#" data-bs-toggle="tooltip"
                                                                    data-bs-title="Distance de la zone tampon autour du territoire intersecté"><i
                        class="fa-solid fa-circle-info"></i></a></label>
                      <div class="input-group mb-3">
                        <input [ngClass]="form.submitted && !tolerance ? 'border-red' : ''" name="tolerance" required type="number" min="100"
                               max="5000" class="form-control" aria-label="Recipient's username" placeholder="100"
                               aria-describedby="basic-addon2" [(ngModel)]="tolerance">
                        <span class="input-group-text" id="basic-addon2">mètres</span>
                        <div id="inputHelp" class="form-text">entre 100m et 5 000m</div>
                      </div>
                    </div>
                    <div class="col-12">
                      <ul ngbNav #nav="ngbNav" class="nav-pills d-flex mb-3" id="pills-tab" >
                        <li ngbNavItem class="flex-fill" *ngIf="this.layerType.id === 1">
                          <a  ngbNavLink class="btn-block radius-right-none"  id="pills-home-tab" (click)="this.selectExtractType = 'list'" >
                            Territoire prédéfini
                          </a>
                          <ng-template ngbNavContent>
                            <div class="tab-content" id="pills-tabContent">
                              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                                <div class="col-12">
                                  <div class="form-group mb-4">
                                    <label class="mb-2">Type de territoire</label>
                                    <select [ngClass]="form.submitted && !territoryType ? 'border-red' : ''" name="territoryType" class="form-control"
                                            aria-label="Territory type" (change)="getTerritories($event)" required [(ngModel)]="territoryType">
                                      <ng-container *ngFor="let engine of this.engines">
                                        <option [value]="engine.id">{{engine.name}}</option>
                                      </ng-container>
                                    </select>
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="form-group mb-4">
                                    <label class="mb-2">Territoires</label>
                                    <ng-multiselect-dropdown
                                            [ngClass]="form.submitted && !territories ? 'border-red' : ''"
                                            #territories="ngModel"
                                            [placeholder]="'Sélectionnez un ou plusieurs territoires'"
                                            [settings]="dropdownSettings"
                                            [data]="dropdownList"
                                            [(ngModel)]="selectedItems"
                                            [disabled]="selectorsLoading"
                                            name="territories"
                                            ngModel
                                            required>
                                    </ng-multiselect-dropdown>
                                  </div>
                                </div>
                              </div>
                              <div class="tab-pane position-relative fade" id="pills-profile" role="tabpanel"
                                   aria-labelledby="pills-profile-tab" tabindex="0">
                                <div id="map"></div>
                                <div class="map-toolbar">
                                  <span class="fs-7">Dessinez la zone à exporter :</span>
                                  <button type="button" class="btn btn-light ms-2" data-toggle="tooltip" data-placement="left"
                                          title="" data-original-title="Agrandir la carte">
                                    <i class="fa-solid fa-vector-square"></i>
                                  </button>
                                  <button type="button" class="btn btn-light" data-toggle="tooltip" data-placement="left" title=""
                                          data-original-title="Agrandir la carte">
                                    <i class="fa-solid fa-draw-polygon"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </ng-template>
                        </li>
                        <li ngbNavItem class="flex-fill">
                          <a ngbNavLink class="btn-block radius-right-none"  id="pills-profile-tab" role="tab"
                             aria-controls="pills-profile" aria-selected="false" (click)="this.selectExtractType = 'polygon'">
                            Zone cartographique
                          </a>
                          <ng-template ngbNavContent>
                            <alk-map-container [downlaoadData]="download"  [layerType]="layerType"></alk-map-container>
                          </ng-template>
                        </li>
                      </ul>
                      <div [ngbNavOutlet]="nav"></div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5">
            <div class="card bg-white border-light p-0 p-md-4 mb-4">
              <div class="card-header">
                <h2>
                  <div class="icon icon-shape icon-md icon-shape-primary rounded-circle mr-3 mb-4 mb-md-0 me-2">
                    <i class="fas fa-info-circle"></i>
                  </div>
                  Informations de la donnée
                </h2>
              </div>
              <div class="card-body">
                <div class="card-header border-0 mt-4">
                  <div class="row">
                    <div class="col p-0">
                      <h3>{{ download.metadataTitle }}</h3>
                      <p class="small mb-0">Identifiant : {{ download.uuid }}
                        <br> Nombre de tables : {{download.layers.length}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="p-md-0">
                  <div class="row d-block d-md-flex align-items-center">
                    <div class="col">
                      <div class="d-flex mt-2">
                        <div class="pe-2 flex-fill">
                          <button name="sendMail" class="btn btn-outline-prodige rounded-0 my-2 btn-block" style="white-space: break-spaces"
                                  type="button" (click)="submitForm(form, 'downloadDefered')">
                            Recevoir la donnée par mail*
                          </button>

                        </div>
                        <div class="ps-2 flex-fill">
                          <button name="downloadNow" class="btn btn-prodige rounded-0 my-2 btn-block"
                                  style="white-space: break-spaces" type="button" (click)="submitForm(form, 'downloadNow')" >
                            Télécharger la donnée
                          </button>
                        </div>
                      </div>
                      <small>*Conseillé pour les données volumineuses</small>
                    </div>
                  </div>
                  <ul class="list-group data-resume mt-3">
                    <li class="list-group-item border-bottom py-md-3">
                      <div class="row alk-row d-block d-md-flex align-items-center">
                        <h3 class="mb-4 fs-6 text-center">Table(s) de donnée(s)</h3>
                        <div class="col-auto alk-col-auto ">
                          <div class="icon"><i class="fas  fa-lg fa-table"></i></div>
                        </div>
                        <div class="col alk-col ml-md-n5 my-4 my-md-0">
                          <span class="fw-semibold">Couche(s) associée(s) :</span>
                          {{ download.layersName }}<br/>
                          <span class="fw-semibold">Table(s) d'origine :</span>
                          {{ download.layersTable }}<br/>
                        </div>
                      </div>
                    </li>
                    <li class="list-group-item py-md-3">
                      <div class="row alk-row d-block d-md-flex align-items-center">
                        <h3 class="mb-4 fs-6 text-center">Liens qui peuvent vous intéresser</h3>
                        <div class="col-auto alk-col-auto">
                          <div class="icon"><i class="fas fa-external-link-alt fa-lg"></i></div>
                        </div>
                        <div class="col alk-col ml-md-n5 my-4 my-md-0">
                          <ng-container *ngIf="layerType.id !== 2">
                            <a target="_blank" href="{{ envData.catalogueUrl + '/api/data/' + download.uuid }}">
                              <i class="fas fa-chevron-right fa-xs me-1"></i>
                              Lien d'accès à la donnée via l'API
                            </a>
                            <br>
                            <a target="_blank" href="{{ envData.catalogueUrl + '/api/doc' }}">
                              <i class="fas fa-chevron-right fa-xs me-1"></i>
                              Documentation de l’API
                            </a>
                            <br>
                          </ng-container>
                          <ng-container *ngIf="displayCgu">
                            <button type='button' class="btnCGU" (click)="openCGU()">
                              <i class="fas fa-chevron-right fa-xs me-1"></i>
                              Les CGU (conditions générales d'utilisation de la donnée)
                            </button>
                            <br>
                          </ng-container>
                          <alk-modal-licence [download]="this.download"></alk-modal-licence>
                          <br>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
