<ng-container *ngIf="!canDisplayMap">
  <div class="visualiseur-loading">
    <i class="fas fa-circle-notch fa-2x fa-spin upload-icon icon-color-loading d-flex justify-content-center"
       aria-hidden="true"></i>
  </div>
</ng-container>
<ng-container *ngIf="canDisplayMap">
  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="drawSelect" (ngModelChange)="onDrawSelect()">
    <label ngbButtonLabel class="btn-secondary" *ngIf="this.layerType.id === 1" ngbTooltip="extraire en dessinant un polygone englobant">
      <input ngbButton type="radio" value="polygon">
      <i class="fas fa-draw-polygon"></i>
    </label>
    <label ngbButtonLabel class="btn-secondary" ngbTooltip="extraire en dessinant un rectangle englobant">
      <input ngbButton type="radio" value="rect">
      <i class="fas fa-vector-square"></i>
    </label>
  </div>
  <hr>
  <div id="main-map" class="col col-md4">
    <alk-ol-map class="visualiseur">
      <div id="main-map-container" class="visualiseur"></div>
      <div id="map-container">
      </div>
    </alk-ol-map>
  </div>
</ng-container>

