#main-map{
  height: 400px;
  min-width: 100px;
}

.visualiseur {
  height: 400px;
  width: 100%;
  min-width: 100px;
  display: block;
}

.visualiseur-loading {
  height: 200px;
  display: block;
  width: 100%;
  padding-top: 75px;
}
