@media (min-width: 1400px) {
  .alk-container {
      max-width: 1320px;
  }
}
@media (min-width: 992px) {
  .mt-lg-n4, .my-lg-n4 {
    margin-top: -3rem !important;
  }
}
.fw-semibold {
  font-weight: 600 !important;
}

.fs-6 {
  font-size: 1rem !important;
}

.alk-row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.alk-row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.list-group {
  --bs-list-group-color: #212529;
  --bs-list-group-bg: #fff;
  --bs-list-group-border-color: rgba(0, 0, 0, 0.125);
  --bs-list-group-border-width: 1px;
  --bs-list-group-border-radius: 0.375rem;
  --bs-list-group-item-padding-x: 1rem;
  --bs-list-group-item-padding-y: 0.5rem;
  --bs-list-group-action-color: #495057;
  --bs-list-group-action-hover-color: #495057;
  --bs-list-group-action-hover-bg: #f8f9fa;
  --bs-list-group-action-active-color: #212529;
  --bs-list-group-action-active-bg: #e9ecef;
  --bs-list-group-disabled-color: #6c757d;
  --bs-list-group-disabled-bg: #fff;
  --bs-list-group-active-color: #fff;
  --bs-list-group-active-bg: #0d6efd;
  --bs-list-group-active-border-color: #0d6efd;
}

.list-group-item {
  color: var(--bs-list-group-color);
}

.alk-col-auto{
  flex: 0 0 auto;
  width: auto;
}

.alk-col{
  flex: 1 0 0;
}
@media (min-width: 768px){
  .ml-md-n5, .mx-md-n5 {
    margin: unset!important;
  }
}
.me-1 {
  margin-right: .25rem !important;
}

.tooltip-inner{
  white-space: nowrap;
  max-width: 1000px;
}


.btnCGU {
  background: none;
  border: none;
  color: #4591ed;
  padding: 0 !important;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
}

.btnCGU i {
  color: #4591ed;
}

.btnCGU:hover {
  text-decoration: underline;
}

.border-red {
  border-color: red;
}
