<div class="modal-header">
  <h5 class="modal-title">Conditions Générales d'Utilisation</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <ng-container *ngFor="let layer of this.layers">
      <ng-template *ngIf="layer.cguDisplay">
        <li [ngbNavItem]="1">
          <a ngbNavLink>{{layer.name}}</a>
          <ng-template ngbNavContent>
            <p>{{layer.cguMessage}}</p>
          </ng-template>
        </li>
      </ng-template>
    </ng-container>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="closeModal()">Ok</button>
</div>
