.header {
  padding: 1rem;
}

.content {
  background-color: white;
  padding: 2rem;
}

.footer {
  padding: 1rem;
  text-align: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 100%;
  height: 40px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 40px;
  height: 40px;
  margin: 10px auto;
  border-radius: 50%;
  border: 6px solid #424767;
  border-color: #424767 transparent #424767 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}