<div class="modal-header">
  <h5 class="modal-title">Téléchargement</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-container *ngIf="this.askEmail && !this.invalidForm">
    <form>
      <div class="form-group">
        <label for="user-email" i18n="@@emaiAdress">Adresse email :</label>
        <input type="email" class="form-control" id="user-email" name="user-email" [(ngModel)]="this.fileParams.userMail">
      </div>
    </form>
  </ng-container>
  <ng-container *ngIf="invalidForm">
    Formulaire invalide, veuillez vérifier les données saisies.
  </ng-container>
  <ng-container *ngIf="pending && !this.askEmail">
    <ng-container [ngSwitch]="this.status?.type">
      <ng-container *ngSwitchCase="'IN_PROGRESS'">
        Données en préparation, veuillez patienter ...
        <div class="lds-dual-ring"></div>
      </ng-container>
      <ng-container *ngSwitchCase="'FAILED'">
        une erreur est survenue pendant la génération des données
      </ng-container>
      <ng-container *ngSwitchCase="'SUCCESS'">
        <a [href]="fileUrl" target="_blank"> Téléchargez vos données en cliquant sur ce lien</a>
      </ng-container>
      <ng-container *ngSwitchCase="'PLANNED'">
        Fichier mis en file d'attente, il vous sera envoyé par email.
      </ng-container>
      <ng-container *ngSwitchCase="'LARGE_DATA'">
        Les données sont trop volumineuses pour un téléchargement direct. Veuillez effectuer une demande avec réception par mail.
      </ng-container>
    </ng-container>
  </ng-container>
</div>
<div class="modal-footer" *ngIf="!this.askEmail || this.invalidForm">
  <button type="button" class="btn btn-primary" (click)="closeModal()">Ok</button>
</div>
<div class="modal-footer" *ngIf="this.askEmail && !this.invalidForm">
  <button type="button" class="btn btn-primary" (click)="initDownaload()">valider</button>
</div>
